<!-- PLACEHOLDERS
==================================================
FOR_NAME
FOR_IMG
FOR_PRECIO
FOR_DIMENSIONS
-->
<article class="brick entry" data-animate-el>
    <a href="Productos/{PLACEHOLDER_FOR_NAME}.html" class="thumb-link">
        <div class="entry__thumb"><img src="Productos/{PLACEHOLDER_FOR_NAME}/{PLACEHOLDER_FOR_IMG}" alt=""></div>
        <div class="entry__header">
            <div class="entry__meta">
                <span class="precio">{PLACEHOLDER_FOR_PRECIO}</span>
                <span class="dimensiones">{PLACEHOLDER_FOR_DIMENSIONS}</span>
            </div>
            <h1 class="entry__title">{PLACEHOLDER_FOR_NAME}</h1>
        </div>
    </a>
</article>